<!DOCTYPE html>
<html>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<style>
body {
  background-color: #075a96;
}

input[type=text], select {
    padding: 12px 20px;
    margin: 8px 0;
    font-size:20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

div {
  border-radius: 5px;
  background-color:#FFFFFF;
  padding: 10px;
}

label
{
  width:100px;
  color:#696969;
  font-size: 20px;
  display: inline-block;
}

button,a {
  background: #075a96;
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 10px;
  text-shadow: 0px 1px 2px #080308;
  font-family: Arial;
  color: #e4e4ed;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

</style>
<body>
<div  style="margin-top:3%;margin-left:15%;width:60%">
  <form action="action_page.php">
    <label style="font-size:25px; margin:40%; display: inline">Profile Info</label>

    <!--First Row -->
    <div>
      <div style="float:left;margin-right:10%">
        <label>FirstName: </label>
        <input type="text">
      </div>
      <div>
        <label>LastName:</label>
        <input type="text">
      </div>
    </div>

    <!-- Second Row-->
    <div>
      <div style="float:left;margin-right:10%">
        <label>Email: </label>
        <input type="text">
      </div>
      <div>
        <label>Phone:</label>
        <input type="text">
      </div>
    </div>

    <!-- Third Row-->
    <div>
      <div style="float:left;margin-right:10%">
        <label>Available to Carpool:</label>
        <input type="radio" name="availability" value="yes" checked> Yes
        <input type="radio" name="availability" value="no"> No <br>
      </div>
      <div style="float:left;margin-right:13%">
        <label>Car Type</label>
        <select name="car" style="color:#696969">
          <option value="car">Car</option>
          <option value="suv">SUV</option>
          <option value="truck">Truck</option>
          <option value="van">Van</option>
          <option value="minivan">Minivan</option>
          <option value="electronic">Electronic</option>
        </select>
      </div>
      <div>
        <label># of Seats</label>
        <select name="seats" id="">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
        </select>
      </div>
    </div>

    <!-- Five Row-->
    <div>
      <div style="float:left;margin-right:10%">
        <label>Need to Carpool:</label>
        <input type="radio" name="availability" value="yes" checked> Yes
        <input type="radio" name="availability" value="no"> No <br>
      </div>
      <div style="float:left;margin-right:10%">
        <label>My Child Currently:</label>
        <select name="car" style="color:#696969">
          <option value="School Bus">School Bus</option>
          <option value="Car">Car</option>
          <option value="public transit">Public Transit</option>
          <option value="walk">Walk</option>
          <option value="bicycle">Bicycle</option>
        </select>
      </div>
      <div>
        <label># of Children</label>
        <select name="seats" id="">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
        </select>
      </div>
    </div>

    <!-- Six Row-->
    <div>
      <div>
        <a onclick="addChild('child_Info', '')">Add Child Info</a>
      </div>  
      <div id="child_Info" hidden>
        <form>
          <div>
            <label>Name:</label>
            <input type="text">
          </div>
          <div>
            <label>School:</label>
            <input type="text">
          </div>
          <div>
            <label>Year:</label>
            <input type="text">
          </div>
        </form>
        <a onclick="addChild('child_Info', 'submit')">Submit</a>
      </div>
    </div>
    <!-- End -->
  </form>
</div>

<script>
  function addChild(id_name, id_name2)
  {
      var x = document.getElementById(id_name);
      if (x.hasAttribute("hidden")){
          x.removeAttribute("hidden");
      } else {
          var att = document.createAttribute("hidden");
          x.setAttributeNode(att);
      }

      if (id_name2 == "submit") {
        alert("Register Successfully!");
      }  
  }
</script>

</body>
</html>
